@model RBEPortal.Models.MainModel

@{
    Page.Title = "Resource-Based Economy Portal - Search";
    
    var form = Html.BeginForm("Search", "Home");

    <h3 style="margin-bottom: 10px;">Search for a resource</h3>

    <div style="margin-bottom: 10px; vertical-align: top;">
        @Html.Telerik().AutoCompleteFor(m => m.ResourceName).HtmlAttributes(new { style = "width: 50%;" })
        <input type="submit" value="Search" style="font-size: 1em;"/>
    </div>

    form.EndForm();
    
    if (Model != null && Model.Resources != null) {
        Html.Telerik().Grid(Model.Resources)
            .Name("Resources")
            .DataKeys(k => k.Add(c => c.ResourceId))
            .Columns(c => {
                c.Bound(b => b.ResourceId).Hidden();
                c.Bound(b => b.Name).Template(t => Html.ActionLink(t.Name, "DisplayResource", "Home", new { resourceId = t.ResourceId }, null));
                c.Bound(b => b.Description).Encoded(false);
                c.Bound(b => b.User.UserName).Title("Last Modified By");
                c.Bound(b => b.ModifiedDate);
            })
            .Render();
    } else {
        <h4>No resources found for @Model.ResourceName</h4>
        <p>Would you like to create a new resource named @Model.ResourceName or would you prefer to do a new search ?</p>
        <p>@Html.ActionLink("Do a new search.", "../")</p>
        <p>@Html.ActionLink(String.Format("Create a new resource named {0}.", Model.ResourceName), "CreateResourceFromSearch", "Home", new { resourceName = Model.ResourceName}, null)</p>
    }
}